* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



#top-bar{
    background-color: #1C1C1A;
  
}

.top-bar-title{
    font-size:1.2rem;
    color:#fff;
    padding:10px 0px;
}


/* HERO SECTION */

#hero{
    height:100vh;
    margin-bottom: 100px;
}

.video-title{
    color:#DFD0C4;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
}


.stripe{
    display: inline-block !important;
    padding: 7px 10px !important;
}

.no-bg{
    background-color: transparent;
}

#basic, #advanced, .acesso,.acesso-pro{
    transition: .4s ease-out;
}
#basic:hover, #advanced:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}




.acesso:hover, .acesso-pro:hover{
  background-color:#068000 !important;
}
 .acesso-pro:hover{
  color:#fff;
  background-color:#068000 !important;
}










/* FIM DA HERO SECTION */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
}


#accordion {
    overflow: hidden;
}

#accordion h5{
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color:#1C1C1A !important;
}



.card-head{
    border-bottom:none !important;
    margin-bottom: 0px !important;
}

.body-400{
    height: 500px;
}


.checked{
    font-size:1.2rem;
    color:green;
}
.cross{
    font-size:1.2rem;
    color:red;
}

.card-list-group .list-group-item{
    border:none;
    background-color: transparent;
    padding-bottom:0px !important;
}


.marrom{
    background-color:#DFD0C4!important;
    color:#fff;
    margin-bottom:15px;
}

/* aplicar no cabeçalho de testemunhos */
.brown{
    background-color:#BC9D84;
    color:#fff;
    
}

.footer .list-group-item{
    border:none;
}

@media (max-width:990px){
    .footer{
        flex-direction:column;
        text-align:center;
    }
}


.btn{
    border-radius:20px;
}

.btn a{
    text-decoration: none;
    color:white;
}

.question{
    overflow: hidden;
    /* overflow-wrap: break-word; */
    /* inline-size: 100px;
    overflow-wrap: break-word;
    hyphens: auto; */
}

.heading h3{
    background-color: #bc9d84;
}


.faq-p{
    color:#D2B48C;
    font-size:1.2rem;
}

#accordion h5 button{
    color:#1C1C1A;
    text-decoration: none;
}



#accordion .card-body p{
    color: #BC9D84;
    font-size:1.2rem;
}


footer a{
   color: #bc9d84;
   text-decoration: none;
   font-size:1.3rem;
}

.convencer{
    display:flex;
    flex-direction: column;
}

.convencer h1, .convencer h5{
    /* display: max-content; */
    background-color: #BC9D84;
    color:#ffff;
    display:inline-block;
    /* padding: 20px 30px; */
    margin-bottom:10px;

}

.sub-title{
    color:#BC9D84;
}





#basic{
    background-color:#fff;
}


#advanced{
    background-color: #1C1C1A;
}

#advanced li, span,h4{
    color:#fff;
}

#advanced a{
    /* background-color: #fff; */
    color:#1C1C1A !important;
}
#advanced .btn{
    background-color: #fff;
}

#basic li, span,h4{
    color:#1C1C1A;
}

#basic span{
    color:black;
}

#advanced .title,span{
    color:#fff;
}

.advanced-plan .card-body{
    background-color: 000 !important;
}

.advanced-plan .fa-star{
    color:white;
    font-size:0.7rem;
}


.depo-card{
    background-color:#F1E8DC !important;
}

.mulheres .item{
    background-color: blue;
    min-width:300px;
}


.owl-carousel .item {
  min-width: 450px;
  height:450px;
  overflow: hidden;
  border-radius:15px;
  
}

.owl-img{
    width:100%;
}

@media (max-width:500px){
    .owl-carousel .item {
        min-width: 200px;
        height:200px;
      }
}