a {
    color: #bc9d84;
    font-size: 20px;
    margin-right: 100px;
    text-decoration: none;
}

a:visited {
    color: #FF1493;
    text-decoration: none;
}

a:hover {
    color: #DB7093;
    text-decoration: underline;
}