            * {
                margin: 0;
                padding: 0;
                font-family: 'Poppins', sans-serif;
            }
            
            #topo {
                background-color: #1C1C1C;
                width: 100%;
                height: 85px;
                margin-top: 30px;
                color: #FFFFFF;
                font-size: 25px;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                ;
            }
            
            #parte1 {
                font-size: 40px;
                text-align: center;
                font-family: 'Poppins', sans-serif;
            }
            
            .saibaMais {
                color: #bc9d84;
                font-family: poppins latin, Sans-serif;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: underline;
            }
            
            #video {
                display: flex;
                justify-content: center;
                margin-top: 15px;
            }
            
            #button {
                display: flex;
                justify-content: center;
                margin: 15px;
            }
            
            #button1 {
                margin: 10px;
                padding: 15px 20px;
                background-color: #000000;
                color: #FFFFFF;
                font-size: 20px;
                font-weight: bold;
                width: 400px;
                height: 70px;
                border: none;
                box-shadow: 5px 5px 5px #696969;
            }
            
            .flash {
                -webkit-transition: all 0.4s linear;
                -moz-transition: all 0.4s linear;
                transition: all 0.4s linear;
                -webkit-animation: smallToBig 600ms alternate infinite ease;
                -moz-animation: smallToBig 600ms alternate infinite ease;
            }
            
            @-webkit-keyframes smallToBig {
                from {
                    -webkit-transform: scale(1);
                }
                to {
                    -webkit-transform: scale(1.1);
                }
            }
            
            @-moz-keyframes smallToBig {
                from {
                    -moz-transform: scale(1);
                }
                to {
                    -moz-transform: scale(1.1);
                }
            }
            
            #parte2 {
                font-size: 40px;
                font-weight: 600;
                text-align: center;
            }
            
            #parte3 {
                color: #FFFFFF;
                font-size: 30px;
                font-weight: 500;
                text-align: center;
                width: 500px;
                margin-left: 430px;
            }
            
            .p1,
            .p2 {
                background-color: #BC9D84;
                margin: 13px;
            }
            
            #parte4 {
                color: #BC9D84;
                font-size: 25px;
                text-align: center;
            }
            
            .p3,
            .p4,
            .p5 {
                margin: 20px;
            }
            
            #parte5 {
                font-size: 40px;
                text-align: center;
                margin-top: 120px;
            }
            
            #parte6 {
                color: #FFFFFF;
                font-size: 30px;
                font-weight: 500;
                text-align: center;
                width: 650px;
                margin-left: 400px;
            }
            
            .p6,
            .p7 {
                background-color: #BC9D84;
                margin: 13px;
            }
            
            .moldes2 {
                position: relative;
                left: 150px;
            }
            
            .moldes1 {
                position: relative;
                left: 130px;
            }
            
            #parte7 {
                color: #BC9D84;
                font-size: 25px;
                text-align: center;
            }
            
            .p8,
            .p9,
            .p10 {
                margin: 25px;
            }
            
            .roupa2 {
                position: relative;
                left: 150px;
            }
            
            .roupa1 {
                position: relative;
                left: 130px;
            }
            
            #parte8 {
                font-size: 40px;
                text-align: center;
                margin-top: 100px;
            }
            
            #parte9 {
                color: #FFFFFF;
                font-size: 30px;
                font-weight: 500;
                text-align: center;
                width: 650px;
                margin-left: 400px;
            }
            
            .p11,
            .p12,
            .p13 {
                background-color: #BC9D84;
                margin: 13px;
            }
            
            #parte10 {
                color: #BC9D84;
                font-size: 25px;
                text-align: center;
            }
            
            .p14,
            .p15 {
                margin: 25px;
            }